.text {
  display: grid;
  grid-template-columns: 160px 1fr 34px;
  align-items: center;
  margin: 10px 0;
  padding-right: 6px;

  input {
    justify-self: end;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
    min-height: 24px;
    max-width: 800px;
    padding: 0 8px;

    &:focus {
      outline: none;
    }
  }

  .icon {
    cursor: pointer;
    width: 22px;
    padding: 5px;
    fill: #2A2f45;
    justify-self: end;
  }
}