* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lato;
}

body {
  //background: #f3f3f6;
  //background: #f6f9fc;
  font-size: 13.5px;
}

.content {
  padding: 15px;
}

h1, h2, h3, h4, h5, h6 {
  color: #2A2f45;
}

p, label, input, span {
  color: #4f566b;
}

a, .link {
  cursor: pointer;
  color: #3297d3;
  color: #556cd6;
  color: #3388dd;
  //color: #2A2f45;
  text-decoration: none;
  &:hover {
    color: #2A2f45;

  }
}

li {
  list-style: none;
}